@model AuctionOnline.Areas.Admin.Models.AuctionStatu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AuctionStatu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BidPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BidPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BidTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BidTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Auction.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auction.ProductName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ASID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
